## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 7                               # Creo una variable llamada "a" que contiene el número entero 7.
print(a)                            # Utilizo la función print() para imprimir por pantalla.
print("El número entero es:", a)    # Utilizo la función print() para imprimir por pantalla.

7
El número entero es: 7

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
b = 8.5                                         # Defino una variable llamada “b” que contenga el dato dado 8.5.
type(b)                                         # Utilizo la función type() para ver el tipo de dato.
print(f"El tipo de dato de {b} es:", type(b))   # Utilizo la función print() para imprimir por pantalla.

El tipo de dato de 8.5 es: <class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a) # Utilizo la función type() para ver el tipo de dato de la variable “a”. 
# Los escribo por separado para ver que hacen.

int

In [7]:
print(f"El tipo de dato de {a} es:", type(a))   # Utilizo la función print() para imprimir por pantalla.

El tipo de dato de 7 es: <class 'int'>

4) Crear una variable que contenga tu nombre

In [8]:
mi_nombre = 'Claudia Jara Yañez'    # Creo una variable llamada “mi_nombre” que contiene mi nombre.

In [9]:
print(type(mi_nombre))  # Utilizo la función type() para ver el tipo de dato.
print(mi_nombre)        # Utilizo la función print() para mostrar en pantalla la variable.

<class 'str'>
Claudia Jara Yañez

5) Crear una variable que contenga un número complejo

In [10]:
c = 1 + 2j      # Creo una variable llamada “c” que contiene un número complejo.

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(c)

complex

In [12]:
type(c) 										# Utilizo la función type() para ver el tipo de dato de la variable “c”.
print(type(c)) 									# Utilizo la función print() para mostrar en pantalla mi respuesta.
print(f"El tipo de dato de {c} es:", type(c)) 	# Utilizo la función print() para mostrar en pantalla un mensaje como respuesta.

<class 'complex'>
El tipo de dato de (1+2j) es: <class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
pi_num = 3.1416			    # creo una variable que contenga el número pi con 4 decimales.

In [14]:
import math                 # importo el módulo math.
pi_math = round(math.pi, 4) # utilizo la función round() para redondear el valor de pi a 4 decimales y guardo el resultado en la variable pi.
print(pi_math) 			    # muestro el valor de pi en pantalla.

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
var1 = 'True'	# creo la variable var1 con el valor True con comillas.
var2 = True		# creo otra variable var2 con el valor True sin comillas.
# No, porque no se escriben igual, el primero es un strings (tiene comillas) y el segundo un booleano.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(f'La variable 1 es de tipo ', type(var1), ' y la variable 2 es de tipo ', type(var2))
# Utilizo la función print() para mostrar en pantalla y la función type() para ver el tipo de variable de cada uno.

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
d = 4 + 7.5			# Creo una variable llamada "d" que sume de un número entero y otro decimal.

11) Realizar una operación de suma de números complejos

In [18]:
e = 2 + 3j			# Creo la variable llamada “e” de números complejos.
f = 5 + 4j			# Creo otra variable llamada “f” de números complejos.
e + f				# Sumo ambas variables. Se muestra en pantalla el valor suma. 
print(e + f) 		# Utilizo la función print() para mostrar en pantalla la suma “e + f”. Se muestra el valor ()

(7+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
a + e			# Sumo las variables “a” (7) y “e” (2 + 3j) ya definidas. Se muestra en pantalla el valor suma.
g = a + e		# Utilizo las variables “a” y “e” ya definidas y designo la variable “g” para guardar esta suma.
print(g) 		# Utilizo la función print() para mostrar en pantalla la variable “g” (a + e)

(9+3j)

13) Realizar una operación de multiplicación

In [20]:
a * b			# Multiplico las variables “a” (7) y “b” (8.5) ya definidas. Se muestra en pantalla el valor multiplicación.
m = a * b		# Utilizo las variables “a” y “b” ya definidas y designo la variable “m” para guardar esta multiplicación.
print(m) 		# Utilizo la función print() para mostrar en pantalla la variable “m” (a * b)

59.5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8) 	# Utilizo la función print() para mostrar en pantalla el resultado de elevar 2 a la octava potencia

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
div = 27 / 4		# Utilizo dos constantes, 27 y 4 para guardar esta división (cociente).
print(div) 			# Utilizo la función print() para mostrar en pantalla la variable “div” (27 / 4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
div_parte_entera= 27 // 4			# Utilizo dos constantes, 27 y 4 para guardar esta división (parte entera).
print(div_parte_entera) 			# Utilizo la función print() para mostrar en pantalla la variable “div_parte_entera” (27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
div_resto = 27 % 4			# Utilizo dos constantes, 27 y 4 para guardar esta división (resto).
print(div_resto) 			# Utilizo la función print() para mostrar en pantalla la variable “div_resto” (27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
6 * 4 + 3				# Utilizo tres constantes obtenidas de la división de 27 entre 4. 
print(6 * 4 + 3) 		# Utilizo la función print() para mostrar en pantalla el resultado final. Dividendo = Divisor * Cociente + Resto

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
x = 'Te '			# Creo la variable alfanumérica llamada “x”.
y = 'Amo'			# Creo otra variable alfanumérica llamada “y”.
print(x + y) 		# Utilizo la función print() para mostrar en pantalla el valor resultante.

Te Amo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
2 == '2' 	# El operador de igualdad es "==", y se utiliza para evaluar si el valor de dos objetos es igual.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
2 == int('2') 	# Como '2' es una cadena de caracteres, utilizo la función int('2') para convertirla en un entero.

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [29]:
a = float('3,8')
# Se ha producido un error al tratar de convertir una cadena en un número decimal (float). 
# En este caso, '3,8' contiene una coma en lugar de punto, lo cual no es compatible con la función float(). 
# Por lo tanto, se genera el error y no se puede realizar la conversión a float.

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
v = 3				# Creo una variable llamada “v” que contenga el dato dado 3.
v -= 1 				# Utilizo el operador "-=" para modificar el contenido restando 1. 
print(v) 			# Utilizo la función print() para mostrar en pantalla el valor resultante.

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

1 = 00001, si me corro 2 lugares a la izquerda queda 100 que es 4 en números decimales

In [ ]:
1 << 2			# El operador << se utiliza para realizar una operación de desplazamiento a la izquierda de bits.
bin = 1 << 2 	# Creo una variable llamada “bin” que contenga el dato dado.
print(bin) 		# Utilizo la función print() para mostrar en pantalla el valor resultante.
# La operación 1 << 2 desplaza los bits del número 1 dos posiciones hacia la izquierda.  1 = 0001, si me corro 2 lugares a la izquerda queda 100 en binario.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
print(2 + '2')
# En este caso, 2 es un entero y ‘2’ es una cadena, por lo que no son del mismo tipo. Para sumarlas debemos tener ambos datos con el mismo tipo de variable, para ello, uso las funciones int(), float() o str()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
print(float(2) + float('2'))
print(int(2) + int('2'))
print(str(2) + str('2'))

4.0
4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
var1 = 'este texto se repite '				# Creo 2 variables llamadas “var1” y “var2” string y entero respectivamente.
var2 = 3
print(var1 * var2 + str(var2) + ' veces') 		# Utilizo las funciones *, +, +, y print() para mostrar en pantalla el valor resultante.

este texto se repite este texto se repite este texto se repite 3 veces