# Listas

In [10]:
lista = [1, 7.5, "Henry", True, "Latinoamérica"]

In [11]:
print(lista)

[1, 7.5, 'Henry', True, 'Latinoamérica']

In [12]:
type(lista)

list

In [13]:
lista[2]

'Henry'

In [14]:
## Slicers
lista[1:3]

[7.5, 'Henry']

In [15]:
## Steps
lista[1:4:2]

[7.5, True]

In [16]:
## Modificar
print(lista)
lista[1] = "Perro"
print(lista)

[1, 7.5, 'Henry', True, 'Latinoamérica']
[1, 'Perro', 'Henry', True, 'Latinoamérica']

In [17]:
## append
lista.append(False)
lista

[1, 'Perro', 'Henry', True, 'Latinoamérica', False]

In [18]:
## insert
lista.insert(3, "Indice 3")
lista

[1, 'Perro', 'Henry', 'Indice 3', True, 'Latinoamérica', False]

In [19]:
## index
lista.index("Latinoamérica")

5

In [20]:
## remove
lista.remove("Henry")
lista

[1, 'Perro', 'Indice 3', True, 'Latinoamérica', False]

In [21]:
## pop
ultimo_elemento = lista.pop()
print(ultimo_elemento)
print(lista)

False
[1, 'Perro', 'Indice 3', True, 'Latinoamérica']

In [22]:
## concatenar
segunda_lista = ["Buenos Aires", "Ciudad de México", "Bogotá"]
lista.extend(segunda_lista)
lista

[1,
 'Perro',
 'Indice 3',
 True,
 'Latinoamérica',
 'Buenos Aires',
 'Ciudad de México',
 'Bogotá']

In [23]:
## multiplicar
lista * 2

[1,
 'Perro',
 'Indice 3',
 True,
 'Latinoamérica',
 'Buenos Aires',
 'Ciudad de México',
 'Bogotá',
 1,
 'Perro',
 'Indice 3',
 True,
 'Latinoamérica',
 'Buenos Aires',
 'Ciudad de México',
 'Bogotá']

In [26]:
a = [1, 2, 3]
b = ["Hola", 5, 6]
a + b

[1, 2, 3, 'Hola', 5, 6]

In [30]:
lista_numero = [6, 4, 9 ,2]
lista_numero.sort()

In [28]:
lista_numero

[2, 4, 6, 9]

In [31]:
lista_letras = ["a", "v", "c"]
lista_letras.sort(reverse = True)
lista_letras

['v', 'c', 'a']

In [32]:
## contenencia
"c" in lista_letras

True

In [33]:
4 in lista_letras

False

In [34]:
## Desempaquetar
letra_1, letra_2, letra_3 = lista_letras
print(letra_1)
print(letra_2)
print(letra_3)

v
c
a

In [35]:
letra_1, letra_2 = lista_letras[:2]
print(letra_1)
print(letra_2)

v
c

In [36]:
lista_listas = [[1, 2, 3], ["a", "b"], [True, False]]
lista_listas

[[1, 2, 3], ['a', 'b'], [True, False]]

# Tuplas

In [37]:
tupla = ("Python", 4, True, 5.8, "Henry", "Python")
tupla

('Python', 4, True, 5.8, 'Henry', 'Python')

In [38]:
type(tupla)

tuple

In [39]:
tuple(lista_letras)

('v', 'c', 'a')

In [40]:
## contenencia
4 in tupla

True

In [41]:
## conteo
tupla.count("Python")

2

In [42]:
## Empaquetar
edades = 35, 34, 28, 21, 29
edades

(35, 34, 28, 21, 29)

In [43]:
type(edades)

tuple

In [44]:
## Desempaquetar
ignacio, melissa, juli, lucas, micaela = edades
print(ignacio)
print(melissa)
print(juli)
print(lucas)
print(micaela)

35
34
28
21
29

In [45]:
len(edades)

5

# Diccionarios

In [46]:
alumnos = {"Ignacio": 35, "Melissa": 34, "Juli": 28, "lucas": 21, "Micaela": 29}
alumnos

{'Ignacio': 35, 'Melissa': 34, 'Juli': 28, 'lucas': 21, 'Micaela': 29}

In [47]:
type(alumnos)

dict

In [48]:
## Acceder a un valor
alumnos["Melissa"]

34

In [49]:
## Cambiar un valor
alumnos["Micaela"] = 30
alumnos

{'Ignacio': 35, 'Melissa': 34, 'Juli': 28, 'lucas': 21, 'Micaela': 30}

In [50]:
## Eliminar un par llave-valor
del alumnos["Juli"]
alumnos

{'Ignacio': 35, 'Melissa': 34, 'lucas': 21, 'Micaela': 30}

In [51]:
## Acceder a llaves
alumnos.keys()

dict_keys(['Ignacio', 'Melissa', 'lucas', 'Micaela'])

In [52]:
## Acceder a valores
alumnos.values()

dict_values([35, 34, 21, 30])

In [54]:
 alumnos.items()

dict_items([('Ignacio', 35), ('Melissa', 34), ('lucas', 21), ('Micaela', 30)])

In [55]:
## Agregar
alumnos["Juli"] = 28
alumnos

{'Ignacio': 35, 'Melissa': 34, 'lucas': 21, 'Micaela': 30, 'Juli': 28}

In [56]:
copia_alumnos = alumnos.copy()
copia_alumnos

{'Ignacio': 35, 'Melissa': 34, 'lucas': 21, 'Micaela': 30, 'Juli': 28}

# Iteradores e itarables

In [57]:
## Iteraciones listas o tuplas
iterable = [1, 3, 5, 7 , 9]
for numero in iterable:
    print(numero * 2)

2
6
10
14
18

In [66]:
## Iteración en texto
texto = "Python es muy usado en ciencia de datos"
for letra in texto:
    print(letra.upper(), end = "")

PYTHON ES MUY USADO EN CIENCIA DE DATOS

In [67]:
## Iteración sobre dict
alumnos

{'Ignacio': 35, 'Melissa': 34, 'lucas': 21, 'Micaela': 30, 'Juli': 28}

In [68]:
for estudiante in alumnos:
    print(estudiante)

Ignacio
Melissa
lucas
Micaela
Juli

In [69]:
for estudiante in alumnos.keys():
    print(estudiante)

Ignacio
Melissa
lucas
Micaela
Juli

In [71]:
for edad in alumnos.values():
    print(edad)

35
34
21
30
28

In [72]:
for tupla in alumnos.items():
    print(tupla)

('Ignacio', 35)
('Melissa', 34)
('lucas', 21)
('Micaela', 30)
('Juli', 28)

# Iterador

In [73]:
colores = ["rojo", "verde", "azul"]

iterador_colores = iter(colores)

In [74]:
next(iterador_colores)

'rojo'

In [75]:
next(iterador_colores)

'verde'

In [76]:
next(iterador_colores)

'azul'

In [78]:
next(iterador_colores, None)

# Función zip

In [79]:
nombre = ["Juan", "María", "Carlos"]
edades = [25, 30, 22]
combinacion = zip(nombre, edades)
for tupla in combinacion:
    print(tupla)

('Juan', 25)
('María', 30)
('Carlos', 22)

In [80]:
nombre = ["Juan", "María", "Carlos"]
edades = [25, 30]
combinacion = zip(nombre, edades)
for tupla in combinacion:
    print(tupla)

('Juan', 25)
('María', 30)

# Comprensión de listas

In [83]:
frutas = ["apple", "banana", "cherry", "kiwi", "mango"]
nueva_lista = []

for fruta in frutas:
    if "a" in fruta:
        nueva_lista.append(fruta)

nueva_lista

['apple', 'banana', 'mango']

In [84]:
## [valor a agregar en la lista FOR iteracion IN iterable IF condicion (opcional)]
nueva_lista = [fruta for fruta in frutas if "a" in fruta]
nueva_lista

['apple', 'banana', 'mango']